* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.input {
  text-align: center;
}

input [type="text"] {
  height: 50px;
  width: 600px;
  background: blue;
  font-size: 20px;

}

.col-4 {
  border: 1px;
  box-sizing: border-box;
  background-color: aqua;
}

input [type="submit"] {
  height: 50px;
  width: 100px;
  background: blue;
  font-size: 20px;

}

.low {
  background: mediumseagreen;
}

.moderate {
  background: rgb(238, 238, 74);
}

.high {
  background: orange;
}

.very-high {
  background: red;
}

.extreme {
  background: purple;
}

.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
}

.card-5 .app-title {
  text-align: center;
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  align-content: center;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.card-5 {
  width: 55rem;
}

.col-6 {
  align-content: flex-end;
  float: right;
}

.col-2 {
  height: 150px;
  width: 100px;
  background-color: blue;
  border-radius: 10%;
  color: azure;
}